.App {
  text-align: left;
  line-height: normal;
}

.App-logo {
  height: 100px;
  position: absolute;
  right: 155px;
}
.App-logoPGP {
  height: 100px;
  position: absolute;
  right: 235px;
}

.App-header {
  background-color: #0079BF;
  padding: 10px;
  color: white;

}

.App-title {
  font-size: 1.25em;
  white-space: nowrap;
  font-weight: bolder;
}

.Card-position {
  position: relative;
  top: 20px;
}

.Tabela-position {
  text-align: center;
  position: relative;
  top: 20px;
}

.btn-position {
  position: relative;
  top: 20px;
}

.Text-indent {
  text-indent: 50px !important;
  margin-bottom: 0px !important;
  text-align: left !important;
  height: auto !important;
  position: relative;
  left: 25%;

}

.App-intro {
  font-size: large;
}
.a-fix {
  margin-left: 10px !important;
  margin-bottom: 0px !important;
}
.form-adm {
  padding-top: 20px;
}

body {
  background: #F0F8FF !important;
}
